<!--=============== CART ===============-->
<div class="cart" id="cart">
  <i class="bx bx-x cart__close" id="cart-close"></i>

  <h2 class="cart__title-center">My Cart</h2>

  {% if username %}
  <div class="cart__container">
    {% for cart_item in cart.show_selected_product_list %}
    <article class="cart__card">
      <div class="cart__box">
        <img
          src="{{ request.url_for('static', path=cart_item.product.picture)}}"
          alt=""
          class="cart__img"
        />
      </div>

      <div class="cart__details">
        <h3 class="cart__title">{{cart_item.product.name}}</h3>
        <span class="cart__price">${{cart_item.product.price}}</span>

        <div class="cart__amount">
          <div class="cart__amount-content">
            <span class="cart__amount-box">
              <i class="bx bx-minus"></i>
            </span>

            <span class="cart__amount-number">{{cart_item.quanity}}</span>

            <span class="cart__amount-box">
              <i class="bx bx-plus"></i>
            </span>
          </div>

          <i
            class="bx bx-trash-alt cart__amount-trash"
            data-product-id="{{cart_item.product.product_id}}"
          ></i>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>

  <div class="cart__prices">
    <span class="cart__prices-item">{{cart.total_quantity}} item</span>
    <span class="cart__prices-total">${{'%.2f'|format(cart.total_price)}}</span>
  </div>
  <div class="home__buttons">
    <a
      href="{{ request.url_for('get_check_out_order') }}"
      class="button--link button--flex"
      >Check Out Order <i class="bx bx-right-arrow-alt button__icon"></i
    ></a>
  </div>
  {% endif %}
</div>

<script>
  document.querySelectorAll(".cart__amount-trash").forEach((button) => {
    button.addEventListener("click", function () {
      const productElement = this.closest(".cart__card");
      const productId = this.getAttribute("data-product-id");

      const totalPriceElement = document.querySelector(".cart__prices-total");
      const quanity = document.querySelector(".cart__prices-item");

      fetch(`/remove-product-form-cart/${productId}`, { method: "DELETE" })
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.json();
        })
        .then((data) => {
          console.log(data.message);
          productElement.remove();
          console.log(data.total_price);
          console.log(data.quantity);

          totalPriceElement.innerHTML = `${data.total_price}`;
          quanity.innerHTML = `${data.quantity} item`;
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    });
  });
</script>
