<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== BOXICONS ===============-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <!--=============== SWIPER CSS ===============-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/swiper-bundle.min.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/style.css') }}"
    />

    <link
      rel="stylesheet"
      class="js-color-style"
      href="{{ url_for('static', path='css/colors/color-1.css') }}"
    />
    <title>CHICK CLOTH SHOP</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="index.html" class="nav__logo">
          <i class="bx bxs-shopping-bags nav__logo-icon"></i> CHICK CLOTH SHOP
        </a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="{{ request.url_for('get_index') }}" class="nav__link"
                >Home</a
              >
            </li>

            <li class="nav__item">
              <a href="{{ request.url_for('get_shop') }}" class="nav__link"
                >Shop</a
              >
            </li>
          </ul>

          <div class="nav__close" id="nav-close">
            <i class="bx bx-x"></i>
          </div>
        </div>

        <div class="nav__btns">
          <div class="nav__shop" id="cart-shop">
            <i class="bx bx-shopping-bag"></i>
          </div>

          {% if user %}
          <div class="login__toggle">
            <a class="bx bx-user" href="{{ request.url_for('get_login') }}"></a>
          </div>
          <div class="nav__menu">
            <a class="">Welcome , {{ user }}</a>
          </div>
          <a href="/logout" , class="">Logout</a>
          {% else %}
          <div class="login__toggle">
            <a class="bx bx-user" href="{{ request.url_for('get_login') }}"></a>
          </div>
          {% endif %}

          <div class="nav__toggle" id="nav-toggle">
            <i class="bx bx-grid-alt"></i>
          </div>
        </div>
      </nav>
    </header>

    <main class="main">
      <!--=============== DETAILS ===============-->
      <section class="details section container">
          <h2 class="breadcrumb__title">Details Page</h2>
          <h3 class="breadcrumb__subtitle">Home > <span>Details</span></h3>

          <div class="details__container grid">
              <div class="home__group">
                  <div class="details__img-tag">New</div>
                  <img src="{{ request.url_for('static', path=product.picture) }}" alt="">
              </div>

              <div class="product__info">
                  <p class="details__subtitle">Women > {{ product.category }}</p>
                  <h3 class="details__title">{{ product.name }}</h3>

                  <div class="rating">
                      <div class="stars">
                          <i class="bx bxs-star"></i>
                          <i class="bx bxs-star"></i>
                          <i class="bx bxs-star"></i>
                          <i class="bx bxs-star"></i>
                          <i class="bx bx-star"></i>
                      </div>
                      <span class="reviews__count">40 + Reviews</span>
                  </div>

                  <div class="details__prices">
                      <span class="details__price">${{ product.price }}</span>
                      <span class="details__discount">${{ '%.2f'|format(product.price*1.2) }}</span>
                      <span class="discount__percentage">20% OFF</span>
                  </div>

                  <div class="details__description">
                      <h3 class="description__title">Product Details</h3>
                      <div class="description__details">
                          <p>Light Gray solid Top, has a boat neck, 3/4 sleeves</p>
                      </div>
                  </div>

                  <div class="cart__amount">
                      <div class="cart__amount-content">
                          <span class="cart__amount-box">
                              <i class="bx bx-minus"></i>
                          </span>

                          <span class="cart__amount-number">1</span>

                          <span class="cart__amount-box">
                              <i class="bx bx-plus"></i>
                          </span>
                      </div>

                      <i class="bx bx-heart cart__amount-heart"></i>
                  </div>

                  <a href="#" class="button">Add To Cart</a>
              </div>
          </div>
      </section>

      <!--=============== NEW ARRIVALS ===============-->
      <section class="new section">
        <h2 class="section__title">New Arrivals</h2>

        <div class="new__container container">
          <div class="swiper new-swiper">
            <div class="swiper-wrapper">

              {% for product in product_list %}
              <!--NEW CONTENT-->
              <div class="new__content swiper-slide">
                <div class="new__tag">New</div>
                <img
                  src="{{ request.url_for('static', path=product.picture) }}"
                  alt=""
                  class="new__img"
                />
                <h3 class="new__title">{{ product.name }}</h3>
                <span class="new__subtitle">{{ product.category }}</span>

                <div class="new__prices">
                  <span class="new__price">${{ product.price }}</span>
                  <span class="new__discount">${{ '%.2f'|format(product.price*1.2) }}</span>
                </div>

                <a class="button new__button" href="{{ url_for('details', product_id=product.product_id) }}">
                  <i class="bx bx-cart-alt new__icon"></i>
                </a>
              </div>
            {% endfor %}

            </div>
          </div>
        </div>
      </section>

    <!--=============== FOOTER ===============-->
    <footer class="footer section">
      <div class="footer__container container grid">
        <!-- FOOTER CONTENT 1 -->
        <div class="footer__content">
          <a href="#" class="nav__logo">
            <i class="bx bxs-shopping-bags nav__logo-icon"></i> CHICK CLOTH SHOP
          </a>

          <p class="footer__description">
            Enjoy the biggest sale <br />
            of your life.
          </p>

          <div class="footer__social">
            <a href="#" class="footer__social-link"
              ><i class="bx bxl-facebook"></i
            ></a>
            <a href="#" class="footer__social-link"
              ><i class="bx bxl-instagram-alt"></i
            ></a>
            <a href="#" class="footer__social-link"
              ><i class="bx bxl-twitter"></i
            ></a>
          </div>
        </div>
        <!-- FOOTER CONTENT 2 -->
        <div class="footer__content">
          <h3 class="footer__title">About</h3>

          <ul class="footer__links">
            <li><a href="#" class="footer__link">About Us</a></li>
            <li><a href="#" class="footer__link">Customer Support</a></li>
            <li><a href="#" class="footer__link">Support Center</a></li>
          </ul>
        </div>
        <!-- FOOTER CONTENT 3 -->
        <div class="footer__content">
          <h3 class="footer__title">Our Services</h3>

          <ul class="footer__links">
            <li><a href="#" class="footer__link">Shop</a></li>
            <li><a href="#" class="footer__link">Discounts</a></li>
            <li><a href="#" class="footer__link">Shipping mode</a></li>
          </ul>
        </div>
    </footer>
    
    <!--=============== SCROLL UP ===============-->
    <a href="#" class="scrollup" id="scroll-up">
      <i class="bx bx-up-arrow-alt scrollup__icon"></i>
    </a>


    <!--=============== SWIPER JS ===============-->
    <script src="{{ url_for('static', path='js/swiper-bundle.min.js') }}"></script>

    <!--=============== JS ===============-->
    <script src="{{ url_for('static', path='js/main.js') }}"></script>
  </body>
</html>

