<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>
  <body>

    {% include 'header.html' %}

    <main class="main">
      <section class="details section container">
          <h2 class="breadcrumb__title">Details Page</h2>
          <h3 class="breadcrumb__subtitle">Home > <span>Details</span></h3>

          <div class="details__container grid">
              <div class="home__group">
                  <div class="details__img-tag">New</div>
                  <img src="{{ request.url_for('static', path=product.picture) }}" alt="">
              </div>

              <div class="product__info">
                  <p class="details__subtitle">Women > {{ product.category }}</p>
                  <h3 class="details__title">{{ product.name }}</h3>

                  <div class="rating">
                      <div class="stars">
                          <i class="bx bxs-star"></i>
                          <i class="bx bxs-star"></i>
                          <i class="bx bxs-star"></i>
                          <i class="bx bxs-star"></i>
                          <i class="bx bx-star"></i>
                      </div>
                      <span class="reviews__count">40 + Reviews</span>
                  </div>

                  <div class="details__prices">
                      <span class="details__price">${{ product.price }}</span>
                      <span class="details__discount">${{ '%.2f'|format(product.price*1.2) }}</span>
                      <span class="discount__percentage">20% OFF</span>
                  </div>

                  <div class="details__description">
                      <h3 class="description__title">Product Details</h3>
                      <div class="description__details">
                          <p>Light Gray solid Top, has a boat neck, 3/4 sleeves</p>
                      </div>
                  </div>

                  <div class="cart__amount">
                      <div class="cart__amount-content">
                          <span class="cart__amount-box">
                              <i class="bx bx-minus"></i>
                          </span>

                          <span class="cart__amount-number">1</span>

                          <span class="cart__amount-box">
                              <i class="bx bx-plus"></i>
                          </span>
                      </div>

                      <i class="bx bx-heart cart__amount-heart"></i>
                  </div>

                  <a href="#" class="button">Add To Cart</a>
              </div>
          </div>
        </div>
      </section>


      <section class="new section">
        <h2 class="section__title">New Arrivals</h2>

        <div class="new__container container">
          <div class="swiper new-swiper">
            <div class="swiper-wrapper">

              {% for product in product_list %}
              <!--NEW CONTENT-->
              <div class="new__content swiper-slide">
                <div class="new__tag">New</div>
                <img
                  src="{{ request.url_for('static', path=product.picture) }}"
                  alt=""
                  class="new__img"
                />
                <h3 class="new__title">{{ product.name }}</h3>
                <span class="new__subtitle">{{ product.category }}</span>

                <div class="new__prices">
                  <span class="new__price">${{ product.price }}</span>
                  <span class="new__discount">${{ '%.2f'|format(product.price*1.2) }}</span>
                </div>

                <a class="button new__button" href="{{ url_for('details', product_id=product.product_id) }}">
                  <i class="bx bx-cart-alt new__icon"></i>
                </a>
              </div>
              {% endfor %}

            </div>
          </div>
        </div>
      </section>

    {% include 'footer.html' %}
    <script src="{{ url_for('static', path='js/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/main.js') }}"></script>
  </body>
</html>

