<footer class="footer section">
  <div class="footer__container container grid">
    <!-- FOOTER CONTENT 1 -->
    <div class="footer__content">
      <a href="#" class="nav__logo">
        <i class="bx bxs-shopping-bags nav__logo-icon"></i> CHICK CLOTH SHOP
      </a>

      <p class="footer__description">
        Enjoy the biggest sale <br />
        of your life.
      </p>

      <div class="footer__social">
        <a href="#" class="footer__social-link"
          ><i class="bx bxl-facebook"></i
        ></a>
        <a href="#" class="footer__social-link"
          ><i class="bx bxl-instagram-alt"></i
        ></a>
        <a href="#" class="footer__social-link"
          ><i class="bx bxl-twitter"></i
        ></a>
      </div>
    </div>

    <!-- FOOTER CONTENT 2 -->
    <div class="footer__content">
      <h3 class="footer__title">About</h3>

      <ul class="footer__links">
        <li><a href="#" class="footer__link">About Us</a></li>
        <li><a href="#" class="footer__link">Customer Support</a></li>
        <li><a href="#" class="footer__link">Support Center</a></li>
      </ul>
    </div>

    <!-- FOOTER CONTENT 3 -->
    <div class="footer__content">
      <h3 class="footer__title">Our Services</h3>

      <ul class="footer__links">
        <li><a href="#" class="footer__link">Shop</a></li>
        <li><a href="#" class="footer__link">Discounts</a></li>
        <li><a href="#" class="footer__link">Shipping mode</a></li>
      </ul>
    </div>
  </div>
</footer>
