<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!--=============== BOXICONS ===============-->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
/>

<!--=============== SWIPER CSS ===============-->
<link
  rel="stylesheet"
  href="{{ url_for('static', path='css/swiper-bundle.min.css') }}"
/>

<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}" />

<link
  rel="stylesheet"
  class="js-color-style"
  href="{{ url_for('static', path='css/colors/color-1.css') }}"
/>
