<!--=============== HOME ===============-->
<section class="home container">
  <div class="swiper home-swiper">
    <div class="swiper-wrapper">
      <!-- HOME SWIPER 1-->
      <section class="swiper-slide">
        <div class="home__content grid">
          <div class="home__group">
            <img
              src="{{ url_for('static', path='img/slide-2.png') }}"
              alt=""
              class="home__img"
            />
            <div class="home__indicator"></div>

            <div class="home__details-img">
              <h4 class="home__details-title">The "Cardigan"</h4>
              <span class="home__details-subtitle">Woolen</span>
            </div>
          </div>

          <div class="home__data">
            <h3 class="home__subtitle">#1 TRENDING ITEM</h3>
            <h1 class="home__title">
              ORIGINAL <br />
              IS NEVER <br />
              FINISHED!!
            </h1>
            <p class="home__description">
              This is a place of hope, meaning and purpose. Visit and become a
              part of something bigger - a movement that is changing lives.
            </p>

            <div class="home__buttons">
              <a href="#" class="button">Buy Now</a>
              <a href="#" class="button--link button--flex"
                >View Details <i class="bx bx-right-arrow-alt button__icon"></i
              ></a>
            </div>
          </div>
        </div>
      </section>

      <!-- HOME SWIPER 2-->
      <section class="swiper-slide">
        <div class="home__content grid">
          <div class="home__group">
            <img
              src="{{ url_for('static', path='img/slide-3.png') }}"
              alt=""
              class="home__img"
            />
            <div class="home__indicator"></div>

            <div class="home__details-img">
              <h4 class="home__details-title">Jqueezy</h4>
              <span class="home__details-subtitle">Ski Suit</span>
            </div>
          </div>

          <div class="home__data">
            <h3 class="home__subtitle">#2 top Best duo</h3>
            <h1 class="home__title">
              FALL <br />
              WINTER <br />
              2022
            </h1>
            <p class="home__description">
              A specialist label creating luxury essentials. Ethically crafted
              with an unwavering commitment to exceptional quality.
            </p>

            <div class="home__buttons">
              <a href="#" class="button">Buy Now</a>
              <a href="#" class="button--link button--flex"
                >View Details <i class="bx bx-right-arrow-alt button__icon"></i
              ></a>
            </div>
          </div>
        </div>
      </section>

      <!-- HOME SWIPER 3-->
      <section class="swiper-slide">
        <div class="home__content grid">
          <div class="home__group">
            <img
              src="{{ url_for('static', path='img/slide-1.png') }}"
              alt=""
              class="home__img"
            />
            <div class="home__indicator"></div>

            <div class="home__details-img">
              <h4 class="home__details-title">Jurry</h4>
              <span class="home__details-subtitle">Zipper</span>
            </div>
          </div>

          <div class="home__data">
            <h3 class="home__subtitle">#3 TRENDING ITEM</h3>
            <h1 class="home__title">
              SALE 20% <br />
              OFF ON <br />
              EVERYTHING
            </h1>
            <p class="home__description">
              A specialist label creating luxury essentials. Ethically crafted
              with an unwavering commitment to exceptional quality.
            </p>

            <div class="home__buttons">
              <a href="#" class="button">Buy Now</a>
              <a href="#" class="button--link button--flex"
                >View Details <i class="bx bx-right-arrow-alt button__icon"></i
              ></a>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</section>
