<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    {% include 'header.html' %}
    <!--=============== MAIN ===============-->
    {% include 'cart.html' %}
    <main class="main">
      {% include 'home_swiper.html' %}
      <!--=============== NEW ARRIVALS ===============-->
      <section class="new section">
        <h2 class="section__title">New Arrivals</h2>

        <div class="new__container container">
          <div class="swiper new-swiper">
            <div class="swiper-wrapper">
              {% for product in product_list %}
              <!--NEW CONTENT-->
              <div class="new__content swiper-slide">
                <div class="new__tag">New</div>
                <a href="{{ url_for('details', product_id=product.product_id) }}">
                <img
                  src="{{ request.url_for('static', path=product.picture) }}"
                  alt=""
                  class="new__img"
                />
                <h3 class="new__title">{{ product.name }}</h3>
                <span class="new__subtitle">{{ product.category }}</span>

                <div class="new__prices">
                  <span class="new__price">${{ product.price }}</span>
                  <span class="new__discount">${{ '%.2f'|format(product.price*1.2) }}</span>
                </div>

                <a class="button new__button" href="{{ url_for('details', product_id=product.product_id) }}">
                  <i class="bx bx-cart-alt new__icon"></i>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    </main>
    
    {% include 'how_to_order.html' %}
    {% include 'footer.html' %}
    
    <script src="{{ url_for('static', path='js/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/main.js') }}"></script>
    
  </body>
</html>
