<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/swiper-bundle.min.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/style.css') }}"
    />

    <link
      rel="stylesheet"
      class="js-color-style"
      href="{{ url_for('static', path='css/colors/color-1.css') }}"
    />
    <title>CHICK CLOTH SHOP</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="{{ request.url_for('get_index') }}" class="nav__logo">
          <i class="bx bxs-shopping-bags nav__logo-icon"></i> CHICK CLOTH SHOP
        </a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="{{ request.url_for('get_index') }}" class="nav__link active-link">Home</a>
            </li>

            <li class="nav__item">
              <a href="{{ request.url_for('get_shop') }}" class="nav__link">Shop</a>
            </li>
          </ul>

          <div class="nav__close" id="nav-close">
            <i class="bx bx-x"></i>
          </div>
        </div>

        <div class="nav__btns">
          
          <div class="nav__shop" id="cart-shop">
            <i class="bx bx-shopping-bag"></i>
          </div>


          {% if user %}
          <div class="login__toggle" >
            <a class="bx bx-user" href ="{{ request.url_for('get_login') }}"></a>
          </div>
          <div class="nav__menu">
            <a class="">Welcome , {{ user }}</a>
          </div>
          
          <a href="/logout" , class ="logout">Logout</a>
          {% else %}
          <div class="login__toggle" >
            <a class="bx bx-user" href ="{{ request.url_for('get_login') }}"></a>
          </div>
          {% endif %}

          <div class="nav__toggle" id="nav-toggle">
            <i class="bx bx-grid-alt"></i>
          </div>

        </div>

      </nav>
    </header>

    </div>

    <!--=============== MAIN ===============-->
    <main class="main">
      <!--=============== HOME ===============-->
      <section class="home container">
        <div class="swiper home-swiper">
          <div class="swiper-wrapper">
            <!-- HOME SWIPER 1-->
            <section class="swiper-slide">
              <div class="home__content grid">
                <div class="home__group">
                  <img
                    src="{{ url_for('static', path='img/slide-2.png') }}"
                    alt=""
                    class="home__img"
                  />
                  <div class="home__indicator"></div>

                  <div class="home__details-img">
                    <h4 class="home__details-title">The "Cardigan"</h4>
                    <span class="home__details-subtitle">Woolen</span>
                  </div>
                </div>

                <div class="home__data">
                  <h3 class="home__subtitle">#1 TRENDING ITEM</h3>
                  <h1 class="home__title">
                    ORIGINAL <br />
                    IS NEVER <br />
                    FINISHED!!
                  </h1>
                  <p class="home__description">
                    This is a place of hope, meaning and purpose. Visit and
                    become a part of something bigger - a movement that is
                    changing lives.
                  </p>

                  <div class="home__buttons">
                    <a href="#" class="button">Buy Now</a>
                    <a href="#" class="button--link button--flex"
                      >View Details
                      <i class="bx bx-right-arrow-alt button__icon"></i
                    ></a>
                  </div>
                </div>
              </div>
            </section>

            <!-- HOME SWIPER 2-->
            <section class="swiper-slide">
              <div class="home__content grid">
                <div class="home__group">
                  <img
                    src="{{ url_for('static', path='img/slide-3.png') }}"
                    alt=""
                    class="home__img"
                  />
                  <div class="home__indicator"></div>

                  <div class="home__details-img">
                    <h4 class="home__details-title">Jqueezy</h4>
                    <span class="home__details-subtitle">Ski Suit</span>
                  </div>
                </div>

                <div class="home__data">
                  <h3 class="home__subtitle">#2 top Best duo</h3>
                  <h1 class="home__title">
                    FALL <br />
                    WINTER <br />
                    2022
                  </h1>
                  <p class="home__description">
                    A specialist label creating luxury essentials. Ethically
                    crafted with an unwavering commitment to exceptional
                    quality.
                  </p>

                  <div class="home__buttons">
                    <a href="#" class="button">Buy Now</a>
                    <a href="#" class="button--link button--flex"
                      >View Details
                      <i class="bx bx-right-arrow-alt button__icon"></i
                    ></a>
                  </div>
                </div>
              </div>
            </section>

            <!-- HOME SWIPER 3-->
            <section class="swiper-slide">
              <div class="home__content grid">
                <div class="home__group">
                  <img
                    src="{{ url_for('static', path='img/slide-1.png') }}"
                    alt=""
                    class="home__img"
                  />
                  <div class="home__indicator"></div>

                  <div class="home__details-img">
                    <h4 class="home__details-title">Jurry</h4>
                    <span class="home__details-subtitle">Zipper</span>
                  </div>
                </div>

                <div class="home__data">
                  <h3 class="home__subtitle">#3 TRENDING ITEM</h3>
                  <h1 class="home__title">
                    SALE 20% <br />
                    OFF ON <br />
                    EVERYTHING
                  </h1>
                  <p class="home__description">
                    A specialist label creating luxury essentials. Ethically
                    crafted with an unwavering commitment to exceptional
                    quality.
                  </p>

                  <div class="home__buttons">
                    <a href="#" class="button">Buy Now</a>
                    <a href="#" class="button--link button--flex"
                      >View Details
                      <i class="bx bx-right-arrow-alt button__icon"></i
                    ></a>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="swiper-pagination"></div>
        </div>
      </section>

      <!--=============== NEW ARRIVALS ===============-->
      <section class="new section">
        <h2 class="section__title">New Arrivals</h2>

        <div class="new__container container">
          <div class="swiper new-swiper">
            <div class="swiper-wrapper">

              {% for product in products %}
              <!--NEW CONTENT-->
              <div class="new__content swiper-slide">
                <div class="new__tag">New</div>
                <a href="{{ url_for('details', product_id=product.product_id) }}">
                <img
                  src="{{ request.url_for('static', path=product.picture) }}"
                  alt=""
                  class="new__img"
                />
                <h3 class="new__title">{{ product.name }}</h3>
                <span class="new__subtitle">{{ product.category }}</span>

                <div class="new__prices">
                  <span class="new__price">${{ product.price }}</span>
                  <span class="new__discount">${{ '%.2f'|format(product.price*1.2) }}</span>
                </div>

                <a class="button new__button" href="{{ url_for('details', product_id=product.product_id) }}">
                  <i class="bx bx-cart-alt new__icon"></i>
                </a>
              </div>
            </a>
            {% endfor %}

            </div>
          </div>
        </div>
      </section>

      <!--=============== STEPS ===============-->
      <section class="steps section container">
        <div class="steps__bg">
          <h2 class="section__title">
            How to order products <br />
            from CHICK CLOTH SHOP
          </h2>

          <div class="steps__container grid">
            <!-- STEP CARD 1 -->
            <div class="steps__card">
              <div class="steps__card-number">01</div>
              <h3 class="steps__card-title">Choose Products</h3>
              <p class="steps__card-description">
                We have several varieties products you can choose from.
              </p>
            </div>
            <!-- STEP CARD 2 -->
            <div class="steps__card">
              <div class="steps__card-number">02</div>
              <h3 class="steps__card-title">Place an order</h3>
              <p class="steps__card-description">
                Once your order is set, we move to the next step which is the
                shipping.
              </p>
            </div>
            <!-- STEP CARD 3 -->
            <div class="steps__card">
              <div class="steps__card-number">03</div>
              <h3 class="steps__card-title">Get order delivered</h3>
              <p class="steps__card-description">
                Our delivery process is easy, you receive the order direct to
                your home.
              </p>
            </div>
          </div>
        </div>
      </section>

    <!--=============== FOOTER ===============-->
    <footer class="footer section">
      <div class="footer__container container grid">
        <!-- FOOTER CONTENT 1 -->
        <div class="footer__content">
          <a href="#" class="nav__logo">
            <i class="bx bxs-shopping-bags nav__logo-icon"></i> CHICK CLOTH SHOP
          </a>

          <p class="footer__description">
            Enjoy the biggest sale <br />
            of your life.
          </p>

          <div class="footer__social">
            <a href="#" class="footer__social-link"
              ><i class="bx bxl-facebook"></i
            ></a>
            <a href="#" class="footer__social-link"
              ><i class="bx bxl-instagram-alt"></i
            ></a>
            <a href="#" class="footer__social-link"
              ><i class="bx bxl-twitter"></i
            ></a>
          </div>
        </div>
        <!-- FOOTER CONTENT 2 -->
        <div class="footer__content">
          <h3 class="footer__title">About</h3>

          <ul class="footer__links">
            <li><a href="#" class="footer__link">About Us</a></li>
            <li><a href="#" class="footer__link">Customer Support</a></li>
            <li><a href="#" class="footer__link">Support Center</a></li>
          </ul>
        </div>
        <!-- FOOTER CONTENT 3 -->
        <div class="footer__content">
          <h3 class="footer__title">Our Services</h3>

          <ul class="footer__links">
            <li><a href="#" class="footer__link">Shop</a></li>
            <li><a href="#" class="footer__link">Discounts</a></li>
            <li><a href="#" class="footer__link">Shipping mode</a></li>
          </ul>
        </div>
    </footer>

    <!--=============== SCROLL UP ===============-->
    <a href="#" class="scrollup" id="scroll-up">
      <i class="bx bx-up-arrow-alt scrollup__icon"></i>
    </a>

    <!--=============== SWIPER JS ===============-->
    <script src="{{ url_for('static', path='js/swiper-bundle.min.js') }}"></script>

    <!--=============== JS ===============-->
    <script src="{{ url_for('static', path='js/main.js') }}"></script>
  </body>
</html>
