<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    {% include 'header.html' %}

    <!--=============== LOGIN ===============-->
    <main class="main">
      <!--=============== CONTACT US ===============-->
      <section class="contact section container">
        <h2 class="breadcrumb__title">Login Page</h2>
        <h3 class="breadcrumb__subtitle">Home > <span>Login</span></h3>

        <form action="/" method="post" class="login__form grid">
          <div class="login__content">
            <label for="username" class="login__label">Username</label>
            <input type="text" id="username" name="username" class="login__input" required />
          </div>
    
          <div class="login__content">
            <label for="password" class="login__label">Password</label>
            <input type="password" id="password" name="password" class="login__input" required />
          </div>
    
          <div>
            <button type="submit" class="button">Sign in</button>
          </div>
          {% if error_message %}
          <p>{{ error_message }}</p>
          {% endif %}
  
          <div>
            <p class="signup">
              Not a member? <a href="registration.html">Sign up now</a>
            </p>
          </div>
        </form>
      </section>
    </main>
    </div>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', path='js/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/main.js') }}"></script>
  </body>
</html>
