<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>
  </head>
  <body>
    {% include 'header.html' %}
          
      <main class="main">
        <section class="order section container">
          <h2 class="section__title">
            Checkout Order
          </h2>
          <table width="100%">
              <thead>
                  <tr>
                      <td>Product</td>
                      <td></td>
                      <td>Price</td>
                      <td>Quantity</td>
                      <td>Subtotal</td>
                  </tr>
              </thead>

              <tbody>
                  {% for product in cart.show_selected_product_list %}
                  <tr>
                      <td><img src="{{ request.url_for('static', path=product.picture)}}" alt=""></td>
                      <td>{{product.name}}</td>
                      <td>${{product.price}}</td>
                      <td>{{product.quanity}}</td>
                      <td>${{product.total_price}}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </section>

        <section>
        <div class = "order-option">
          <div class = "cart-option">
          <div class="cuopon">
            <h2>Apply Coupon</h2>
            <div>
                <input type="text" name="" placeholder="Enter Your Coupon">
                <button class="normal">Choose</button>
            </div>

            <h2>Payment Option</h2>
            <div>
                <input type="text" name="" placeholder="Enter Your Coupon">
                <button class="normal">Choose</button>
            </div>

            <h2>Select your address</h2>
            <div class="questions__group">
                {% for address in address_list %}
                <div class="questions__item">
                    <header class="questions__header">
                        <i class="bx bx-plus questions__icon"></i>
                        <h3 class="questions__item-title">{{address.name}}</h3>
                    </header>

                    <div class="questions__content">
                        <p class="questions__description">
                          {{address.house_id}},
                          {{address.soi}}, 
                          {{address.sub_distric}}, 
                          {{address.distric}}, 
                          {{address.provice}}, 
                          {{address.post_code}} ,Tel:
                          {{address.tel}}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}

          <div class="subtotal">
            <h2>Order Total</h2>
            <table>
                <tr>
                    <td>Cart Subtotal ({{cart.total_quantity}} items) </td>
                    <td>${{'%.2f'|format(cart.total_price)}}</td>
                </tr>
                <tr>
                    <td>Shipping Subtotal</td>
                    <td><a>Free</a></td>
                </tr>
                <tr>
                    <td>Total Payment</td>
                    <td>${{'%.2f'|format(cart.total_price)}}</td>
                </tr>
            </table>
          </div>
        </div>
        <div class = "order-confirm">
          <button class="button">Confirm To Place Order</button>
        </div>
      </div>
      </section>
    </main>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', path='js/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/main.js') }}"></script>
  </body>
</html>


<script>
  document.addEventListener('DOMContentLoaded', function() {
      if (window.location.pathname.includes('check-out-order')) {
          var navShop = document.querySelector('.nav__shop');
          if (navShop) {
              navShop.style.display = 'none';
          }
      }
  });
</script>