<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    {% include 'header.html' %}
    {% include 'cart.html' %}
    <!--=============== MAIN ===============-->
    <main class="main">
      <!--=============== SHOP ===============-->
      <section class="shop section container">
        <div class="shop__container grid">
          <div class="sidebar">
            <h3 class="filter__title">Select Filters</h3>
            <div class="filter__content">
              <h3 class="filter__subtitle">Condition</h3>

              <div class="filter">
                <input type="checkbox" name="" id="" />
                <p>New</p>
                <span>(13)</span>
              </div>
              <div class="filter">
                <input type="checkbox" name="" id="" />
                <p>Sale</p>
                <span>(13)</span>
              </div>
            </div>

            <div class="filter__content">
              <h3 class="filter__subtitle">Size</h3>

              <div class="filter">
                <input type="checkbox" name="" id="" />
                <p>s</p>
                <span>(13)</span>
              </div>
              <div class="filter">
                <input type="checkbox" name="" id="" />
                <p>M</p>
                <span>(15)</span>
              </div>
              <div class="filter">
                <input type="checkbox" name="" id="" />
                <p>L</p>
                <span>(6)</span>
              </div>
            </div>

            <div class="filter__content">
              <h3 class="filter__subtitle">Categories</h3>

              <div class="filter">
                <input type="checkbox" name="" id="" />
                <p>Men</p>
                <span>(2)</span>
              </div>
              <div class="filter">
                <input type="checkbox" name="" id="" />
                <p>Women</p>
                <span>(4)</span>
              </div>
              <div class="filter">
                <input type="checkbox" name="" id="" />
                <p>Kids</p>
                <span>(6)</span>
              </div>
              <div class="filter">
                <input type="checkbox" name="" id="" />
                <p>Others</p>
                <span>(4)</span>
              </div>
            </div>

            <div class="filter__content">
              <h3 class="filter__subtitle">Styles</h3>

              <div class="filter">
                <input type="checkbox" name="" id="" />
                <p>Casual</p>
                <span>(2)</span>
              </div>
              <div class="filter">
                <input type="checkbox" name="" id="" />
                <p>Dressy</p>
                <span>(4)</span>
              </div>
              <div class="filter">
                <input type="checkbox" name="" id="" />
                <p>Girly</p>
                <span>(6)</span>
              </div>
            </div>

            <div class="filter__content">
              <h3 class="filter__subtitle">Sub Categories</h3>

              <div class="filter">
                <input type="checkbox" name="" id="" />
                <p>Jackets</p>
                <span>(2)</span>
              </div>
              <div class="filter">
                <input type="checkbox" name="" id="" />
                <p>T-shirts</p>
                <span>(4)</span>
              </div>
              <div class="filter">
                <input type="checkbox" name="" id="" />
                <p>Accessories</p>
                <span>(6)</span>
              </div>
              <div class="filter">
                <input type="checkbox" name="" id="" />
                <p>Shoes</p>
                <span>(4)</span>
              </div>
              <div class="filter">
                <input type="checkbox" name="" id="" />
                <p>Coats</p>
                <span>(4)</span>
              </div>
            </div>
          </div>

          <div class="shop__items grid">
            {% for product in product_list %}
              <div class="shop__content">
                <a href="{{ url_for('details', product_id=product.product_id) }}">
               <img
                  src="{{ request.url_for('static', path=product.picture) }}"
                  alt=""
                  class="shop__img"
                />
                <h3 class="shop__title">{{ product.name }}</h3>
                <span class="shop__subtitle">{{ product.category }}</span>

                <div class="shop__prices">
                  <span class="shop__price">${{ product.price }}</span>
                  <span class="shop__discounts"
                    >${{ '%.2f'|format(product.price*1.2) }}</span
                  >
                </div>

                <a
                  class="button shop__button"
                  href="{{ url_for('details', product_id=product.product_id) }}"
                >
                  <i class="bx bx-cart-alt shop__icon"></i>
                </a>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </section>
    </main>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', path='js/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/main.js') }}"></script>
  </body>
</html>
